.App {
    width: 960px;
    height: 670px;
    margin: 20px auto;
    border-radius: 16px;
    padding: 30px 50px;
    background-color: #6f38a1;
    text-align: center;
}
.Quiz h1 {
    color: #ffffff;
    font-family: inherit;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 20px;
}
.Quiz img {
    width: 300px;
}
.Quiz .questions {
    display: grid;
    max-width: 60%;
    margin: 24px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    column-gap: 20px;
    row-gap: 20px;
}
.Quiz .questions .answer-option {
    background-color: #9695ca;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.2;
    color: #141363;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.EndScreen h2 {
    margin-top: 280px;
    color: #ffffff;
    font-family: inherit;
    font-size: 32px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.EndScreen .again {
    background-color: #b2b1ee;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #141363;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
